
<div class="document">
    
    <div>&nbsp;</div>
        <div class="dcontent">
            <img src="~/Content/images/cat.png"/>
       <pre>
                       О содержании

Этот блог является моей записной книжкой,
благодаря которой я могу быстро вспомнить то,
что делалось достаточно давно, а также поделиться 
своим скромным опытом с людьми,
интересы которых пересекаются с моими. 
Тематика блога затрагивает ту часть моей работы, 
которая касается установки, настройки и поддержки
операционных систем FreeBSD, Linux и Windows на 
серверах, 
десктопах и различных "умных" дивайсах

Обратная связь

Если Вы заметили ошибку или хотите предложить ту или иную
 форму сотрудничества, 
сообщите мне об этом, буду очень признателен. 
Я обязательно отвечу на все сообщения. 
Единственное требование 
- не пишите сюда вопросы, касающиеся моих статей, для этого 
есть комментарии.



         </pre>
            
        </div>
    
    
</div>
<div class="rtboxbg">&nbsp;</div>
<div class="gap"></div>


